<h2 mat-dialog-title>Aggiungi utente</h2>
<mat-dialog-content>
  <form #addUserForm="ngForm">
    <mat-form-field>
      <input matInput placeholder="Nome" name="nome" [(ngModel)]="user.nome" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cognome" name="cognome" [(ngModel)]="user.cognome" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annulla</button>
  <button mat-raised-button color="primary" [disabled]="addUserForm.invalid" (click)="onAddClick()">Aggiungi</button>
</mat-dialog-actions>
