<app-nav-bar></app-nav-bar>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Paese</th>
      <th scope="col">Regione</th>
      <th scope="col">Capitale</th>
      <th scope="col">Area</th>
      <th scope="col">Flag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{bDetails[0].name}}</td>
      <td>{{bDetails[0].region}}</td>
      <td>{{bDetails[0].demonym}}</td>
      <td>{{bDetails[0].area}}</td>
      <td><img class="flag-img" src="{{bDetails[0].flag}}" alt=""></td>
    </tr>
  </tbody>
</table>

