<app-nav-bar></app-nav-bar>
<!-- <div>
  <ul>
    <li *ngFor="let user of users">
      {{ user.nome }}
      {{ user.cognome}}
      <button (click)="onDelete(user)">Elimina</button>

    </li>
  </ul>
  <input type="text" [(ngModel)]="newUser.nome">
  <input type="text" [(ngModel)]="newUser.cognome">
  <button (click)="addUser()">Aggiungi utente</button>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Elimina</th>
      <th scope="col">Modifica</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.nome}}</td>
      <td>{{ user.cognome}}</td>
      <td><button (click)="onDelete(user)">Elimina</button></td>
      <td><button (click)="onEdit(user)">Modifica</button></td>
    </tr>
  </tbody>
</table>

<div>
  <input type="text" [(ngModel)]="newUser.nome">
  <input type="text" [(ngModel)]="newUser.cognome">
  <button (click)="addUser()">Aggiungi utente</button>
</div>

